html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /*    font-weight: 400;*/
    /*    font-size: 1.1em;*/
}
/*
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    z-index: 100;
}
*/

a,
ul {
    text-decoration: none;
}

#container {
    /*    min-height: 100%;*/
    
    position: relative;
    min-height: 100%;
    background: #525252;
}

#header {
    height: 35%;
    position: fixed;
    top: 0;
    background: #333333;
    width: 100%;
    z-index: 0;
    /*
    background: #3d3d3d;
    padding: 0;
    height: 50px;
   
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 1);
    z-index: 5;
    color: #e0e0e0;
    vertical-align: middle;
*/
}

.headerRow {
    padding: 2% 0 0 0;
}
/*
.githubPage {
    top: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.githubPage li {
    text-decoration: none;
    display: inline-block;
}

.githubpage li span {
    font-family: 'Roboto', sans-serif;
}*/

.SVGanimation {
    position: relative;
    margin: 0 0 1% 0;
    padding-left: 100px;
}

.SVGanimation svg {
    /*
    position: absolute;
top: 0%;
bottom: 60%;
left: 0;
right: 50%;
*/
    
    display: block;
    margin: auto;
    margin: 0 1% 0 0;
}
/*
.SVGtext {
    text-align: center;
}*/

.SVGtext p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300 !important;
    color: #f0f0f0;
}
/*
#header svg {
    float: left !important;
    left: 0 !important;
}
*/

#section {
    height: 60%;
    top: 35%;
    position: fixed;
    background: #3d3d3d;
    width: 100%;
    color: #f0f0f0;
    z-index: 10;
    padding-top: 1%;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.SecText p {
    font-size: 150% !important;
    font-weight: 200 !important;
    line-height: 1.2em;
}

.SecText span {
    font-weight: 600 !important;
    color: #ff4d4d;
    font-size: 180%;
}

.socialIcons {
    bottom: 5% !important;
    position: fixed;
}

.socialIcons li {
    text-decoration: none;
    display: inline-block;
}

#footer {
    height: 5%;
    top: 95%;
    background: #474747;
    width: 100%;
    z-index: 30;
    position: fixed;
    vertical-align: middle;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    /*
    
   
    bottom: 0;
    width: 100%;
    height: 40px;
*/
}

#footer p {
    color: #f0f0f0;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.5%;
    vertical-align: middle;
}

.downarrow img {
    z-index: 35;
    position: fixed;
    float: right;
    right: 15%;
    bottom: 2%;
    width: 7%;
}
/* --------------------SVG ANIMATION LOGO-------------------------------------------------------- */

svg {
    /*    position: absolute;*/
    
    width: 460px;
}

rect {
    fill: none;
    stroke: #f0f0f0;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: 7s outline forwards;
}

svg line {
    stroke: #f0f0f0;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: 4s line forwards;
}

svg path {
    fill: #f0f0f0;
    opacity: 0;
    animation: 6s text forwards;
    animation-delay: 3s;
}

@keyframes outline {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes line {
    from {
        stroke-dashoffset: 200;
    }
    to {
        stroke-dashoffset: -230;
    }
}

@keyframes text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ------------SVG ANIMATION LOGO CSS ENDS HERE----------------------------------------------------------------- */
/*.*/
/* ----------------------------------------------ghost button CSS STARTS HERE------------------------------ */

.ghost-button-rounded-corners {
    display: inline-block;
    width: auto;
    padding: 5px;
    color: #e0e0e0 !important;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
    background-color: #525252;
    color: #f0f0f0 !important;
}
/* -----------ghost button CSS ENDS HERE----------------------------------------------------------------- */
/*.*/
/* ------------------------------------SEARCH BAR CSS STARTS HERE---------------------------------------- */

#wrap {
    display: inline-block;
    margin: 10px 0 0 0;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
}

input[type="text"] {
    height: 60px;
    font-size: 25px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    border: none;
    outline: none;
    color: #f0f0f0;
    padding: 3px;
    padding-right: 60px;
    width: 400px;
    border-bottom: 1px solid #BBB;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: text;
}

input[type="submit"] {
    height: 60px;
    width: 40px;
    display: inline-block;
    /*    color: red;*/
    
    float: right;
    background: url(../img/Search1.png) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
/* ------------SEARCH BAR CSS ENDS HERE----------------------------------------------------------------- */